<form [formGroup]="userForm" (ngSubmit)="register()" class="needs-validation">
  <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
  <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />

  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="row mb-3">
    <div class="mr-2 ml-3">
      I am:
    </div>

    <div class="form-check form-check-inline ml-3">
      <input class="form-check-input" type="radio" formControlName="gender" id="exampleRadios1" value="male" checked>
      <label class="form-check-label ml-1" for="exampleRadios1">
        Male
      </label>
    </div>

    <div class="col-sm-3 form-check-inline">
      <input class="form-check-input" type="radio" formControlName="gender" id="exampleRadios2" value="female">
      <label class="form-check-label ml-1" for="exampleRadios2">
        Female
      </label>
    </div>
    <div *ngIf="this.gender.errors  && (username.dirty || username.touched)" class="invalid-feedback text-center">
      Gender is required
    </div>

  </div>
  <div class="form-group">
    <input type="text" class="form-control"
      [ngClass]="{'is-invalid': this.username.errors && (username.dirty || username.touched)}"
      formControlName="username" placeholder="Username">
    <div *ngIf="this.username.errors  && (username.dirty || username.touched)" class="invalid-feedback text-center">
      User name is required
    </div>
  </div>


  <div class="form-group">
    <input type="text" class="form-control" formControlName="knownAs" placeholder="Known As">
    <!-- <div *ngIf="this.knownAs.errors  && (knownAs.dirty || knownAs.touched)" class="invalid-feedback text-center">
      User name is required
    </div> -->
  </div>
  <div class="form-group">
    <!-- <input type="date" class="form-control" formControlName="DateOfBirth" placeholder="Date Of Birth"
      [ngClass]="{'is-invalid': this.DateOfBirth.errors && (DateOfBirth.dirty || DateOfBirth.touched)}"> -->
    <input type="text" placeholder="Datepicker" class="form-control" formControlName="DateOfBirth" bsDatepicker
      [ngClass]="{'is-invalid': this.DateOfBirth.errors && (DateOfBirth.dirty || DateOfBirth.touched)}"
      [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
    <div *ngIf="this.DateOfBirth.errors  && (DateOfBirth.dirty || DateOfBirth.touched)"
      class="invalid-feedback text-center">
      Date of Birth is required
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="city" placeholder="City"
      [ngClass]="{'is-invalid': this.city.errors && (city.dirty || city.touched)}">
    <div *ngIf="this.city.errors  && (city.dirty || city.touched)" class="invalid-feedback text-center">
      City is required
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="country" placeholder="Country"
      [ngClass]="{'is-invalid': this.country.errors && (country.dirty || country.touched)}">
    <div *ngIf="this.country.errors  && (country.dirty || country.touched)" class="invalid-feedback text-center">
      Country is required
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password" autocomplete="new-password"
      placeholder="Password" [ngClass]="{'is-invalid': this.password.errors && (password.dirty || password.touched)}">
    <small id="passwordHelpInline" class="text-muted">
      Must be 4-8 characters long.
    </small>
    <div *ngIf="this.password.hasError('required')   && (password.dirty || password.touched)"
      class="invalid-feedback text-center">
      Password required
    </div>
    <div *ngIf="this.password.hasError('minlength')   && (password.dirty || password.touched)"
      class="invalid-feedback text-center">
      Password too short
    </div>
    <div *ngIf="this.password.hasError('maxlength')  && (password.dirty || password.touched)"
      class="invalid-feedback text-center">
      Password too long
    </div>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" formControlName="password2" autocomplete="new-password"
      placeholder="Password">
    <div *ngIf=" userForm.errors?.passwordsDifferent   && (password2.dirty || password2.touched)"
      class="invalid-feedback text-center">
      Passwords not equal
    </div>

  </div>
  <!-- <div class="form-group">
    <div class="form-control">
      <select name="" id="" class="form-control">
        <option *ngFor="let value of valuesFromHome" [value]="value"> {{value.name}} </option>
      </select>
    </div>
  </div> -->

  <div class="form-group text-center">
    <button class="btn btn-success" type="button" (click)="register()">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  <!-- 
  <p>
    Value: {{ this.username.value }}
  </p> -->
</form>